/***

@include breakpoint creates media queries for multiple screen sizes


li { // single breakpoint @include breakpoint(mobile) { //style in here }
 // multiple breakpoint @include breakpoint(mobile, tablet, desktop, wide) { //style in here }
}
**/
/** This mixin keeps lazy loading images from jumping out of contained height @param  integer $x: 16   width in terms of ratio @param  {[type]} $y: 9   height in terms of ratio */
/** This mixin creates a bootstrap button with desired color @param  string $background   color to use as button background */
.video-page { margin: 10px 0; }
.video-page.sponsor-video-page { margin: 0; }
.video-page.sponsor-video-page .lead-video, .video-page.sponsor-video-page .ad-unit-module.ad-right { margin-top: 10px; }
.video-page.sponsor-video-page .sponsor.module { margin-bottom: 10px; }
.video-page .main-content { width: 100%; }
.video-page .video-watch { margin-bottom: 20px; }
.video-page .video-watch .video-player { background: #000; padding: 8px 0px; border-radius: 2px; margin-bottom: 10px; }
.video-page .video-watch .lead-video .title { font-family: "Roboto Condensed", sans-serif; font-weight: 600; font-size: 32px; font-weight: 400; margin: 10px 0; }
.video-page .video-watch .meta { margin: 10px 0; font-size: 13px; font-family: "Roboto", sans-serif; font-weight: 300; font-weight: 400; min-height: 250px; }
.video-page .video-watch .meta .description { font-size: 16px; margin-bottom: 50px; }
.video-page .video-watch .meta .section-wrapper { width: 100%; display: table-cell; }
.video-page .video-watch .meta .section-wrapper .section { height: 36px; line-height: 36px; text-transform: uppercase; font-weight: bold; text-align: center; height: 36px; width: 120px; text-transform: uppercase; cursor: pointer; line-height: 36px; margin-left: 0px; font-size: 13px; color: #fff; background: #fe074e; }
.video-page .video-watch .meta .section-wrapper .section a { text-decoration: none; color: #fff !important; }
.video-page .video-watch .meta .section-wrapper .section a:hover { color: #fff !important; text-decoration: none; }
.video-page .video-watch .meta .share { position: absolute; bottom: 5px; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons { width: 100%; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons:before, .video-page .video-watch .meta .share .social-badges-module.share-buttons:after { content: " "; display: table; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons:after { clear: both; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li { height: 36px; float: left; text-transform: uppercase; cursor: pointer; line-height: 36px; color: #fff; text-align: center; width: 33%; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li a { text-decoration: none; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li a:hover { text-decoration: none; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li a span { margin-left: 0; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li .fa { float: left; font-size: 26px; text-align: center; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li .fa.fa-circle { display: none; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li .fa.fa-envelope-o { top: -2px; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li .badge-name { color: #fff; display: inline-block; }
@media (max-width: 659px) { .video-page .video-watch .meta .share .social-badges-module.share-buttons li .badge-name { display: none; } }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li span { margin-left: 10px; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li.facebook { background: #3B5998; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li.twitter { background: #33CCFF; }
.video-page .video-watch .meta .share .social-badges-module.share-buttons li.plain-email { background: #ccc; }
.video-page .video-watch .ad-unit-module.ad-right { margin-top: 10px; margin-bottom: 0; }
.video-page .video-list .ad-row { margin-bottom: 10px; }
.video-page .video-list .item { height: 265px; }
.video-page .video-list .item .video-image img { display: inline-block; height: auto; max-width: 100%; }
.video-page .video-list .item .video-image .video-time { position: relative; bottom: 0px; top: -30px; color: #fff; font-weight: bold; margin-right: 5px; background: #000; padding: 4px; opacity: 0.6; border-radius: 2px; float: right; }
.video-page .video-list .item .video-image .video-time:before, .video-page .video-list .item .video-image .video-time:after { content: " "; display: table; }
.video-page .video-list .item .video-image .video-time:after { clear: both; }
.video-page .video-list .item .video-image .play-btn { position: absolute; bottom: 15px; right: 15px; text-align: center; cursor: pointer; }
.video-page .video-list .item .video-image .play-btn i { font-size: 40px; color: #fff; transition: all 0.5s ease; }
.video-page .video-list .item .video-info .title { font-size: 16px; height: 45px; line-height: 20px; font-weight: 400; margin-top: 10px; margin-bottom: 5px; }
.video-page .video-list .item .video-info .title a { color: #19172d; font-family: "Roboto Condensed", sans-serif; font-weight: 600; font-weight: 400; text-decoration: none; }
.video-page .video-list .item .video-info .title a:hover { text-decoration: none; }
.video-page .video-list .item .video-info .cover-date { font-size: 12px; font-weight: 300; color: #272447; text-transform: uppercase; }
.video-page .video-list .item .active .video-image .play-btn i, .video-page .video-list .item:hover .video-image .play-btn i { color: #fe074e; }
.video-page .video-list .item .active:before { content: "Playing"; position: absolute; top: 10px; left: 10px; font-family: "Roboto Condensed", sans-serif; font-weight: bold; text-transform: uppercase; font-size: 0.9em; color: #fff; background-color: #fe074e; padding: 3px; }
@media (max-width: 959px) { .video-page .video-list .item .video-info .title { height: 60px; } }
@media (max-width: 959px) and (max-width: 659px) { .video-page .video-list .item { height: auto; margin-bottom: 25px; }
  .video-page .video-list .item .video-info .title { height: auto; } }
