<footer id="sn-footer" class="footer">

  <div id="main_bottom_banner">

  </div>
  <script>
  var opts = {
      callback: function (filled) {
          if (filled) {
              console.log("ad loaded main_bottom_banner");
          } else {
              console.log("no ad main_bottom_banner");
          }
      }
  }
  VP.ad('main_bottom_banner', 'main_bottom_banner', 728, 90, opts);
  </script>
    <div class="footer-desktop hidden-sm hidden-xs">
        <div class="footer-nav-outer">
            <div class="container">
                <ul class="footer-nav">
                    <li>
                        <a class="branding" href="/">
                            <img src="/images/logo.png?v1" alt="Sporting News" >
                        </a>
                    </li>
                    <!--<li>-->
                        <!--<a href="http://www.performgroup.com/brands/sporting-news/" target="_blank" rel="noopener noreferrer">Media Kit</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="http://www.sportingnews.com/customer-service/contact">Contact</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="http://www.sportingnews.com/privacy">Privacy Policy</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a target="_blank" rel="noopener noreferrer" href="http://www.performgroup.co.uk/">Perform Group</a>-->
                    <!--</li>-->
                    <!--<li><a target="_blank" href="http://shop.sportingnews.com/">Shop</a>-->
                    <!--</li>-->

                    <li class="social-subnav right-side">
                        <a href="#" title="Follow Sporting News on Facebook" target="_blank" rel="noopener noreferrer">
              <span class="icon facebook">
                <i class="fa fa-facebook-official"></i>
                <span class="name">Facebook</span>
              </span>
                        </a>
                        <a href="#" title="Follow Sporting News on Twitter" target="_blank" rel="noopener noreferrer">
              <span class="icon twitter">
                <i class="fa fa-twitter"></i>
                <span class="name">Twitter</span>
              </span>
                        </a>
                        <a href="#" title="Follow Sporting News on Instagram" target="_blank" rel="noopener noreferrer">
                <span class="icon instagram">
                 <i class="fa fa-instagram"></i>
                  <span class="name">Instagram</span>
                </span>
                        </a>
                        <a href="http://www.sportingnews.com/newsletter/signup" title="Subscribe to Sporting News' Newsletter">
                <span class="icon sn-newsletter">
                 <i class="fa sn-icon-font-newsletter"></i>
                  <span class="name">Newsletter</span>
                </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="legal-container-outer clearfix">
            <div class="legal container">
                <div class="col-md-12">
                    <div class="all-rights-reserved pull-right">© 2017 <a href="http://www.espn.com">ESPN</a> and its licensors. All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-mobile visible-sm visible-xs">
        <div class="footer-nav-outer clearfix">
            <div class="footer-nav-mobile col-xs-12">
                <div class="row">

                    <ul class="col-xs-6">
                        <li class="social-subnav">
                            <a href="#" title="Follow Sporting News on Facebook" target="_blank" rel="noopener noreferrer">
                <span class="icon facebook">
                  <i class="fa fa-facebook-official"></i>
                  <span class="name"></span>
                </span>
                            </a>
                            <a href="#" title="Follow Sporting News on Twitter" target="_blank" rel="noopener noreferrer">
                <span class="icon twitter">
                  <i class="fa fa-twitter"></i>
                  <span class="name"></span>
                </span>
                            </a>
                            <a href="#" title="Follow Sporting News on Instagram" target="_blank" rel="noopener noreferrer">
                  <span class="icon instagram">
                   <i class="fa fa-instagram"></i>
                    <span class="name"></span>
                  </span>
                            </a>
                            <a href="#" title="Subscribe to Sporting News' Newsletter">
                  <span class="icon sn-newsletter">
                   <i class="fa sn-icon-font-newsletter"></i>
                    <span class="name"></span>
                  </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1">
                        <ul class="alt-footer-nav row">
                            <li class="col-xs-6 col-sm-3"><a href="http://www.performgroup.com/brands/sporting-news/" target="_blank" rel="noopener noreferrer">Media Kit</a></li>
                            <li class="col-xs-6 col-sm-2"><a href="/customer-service/contact">Contact</a></li>
                            <li class="col-xs-6 col-sm-2"><a href="http://www.sportingnews.com/privacy">Privacy</a></li>
                            <li class="col-xs-6 col-sm-3"><a target="_blank" rel="noopener noreferrer" href="http://www.performgroup.co.uk/">Perform Group</a></li>
                            <li class="col-xs-12 col-sm-1"><a target="_blank" href="http://shop.sportingnews.com/">Shop</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="legal-container-outer clearfix">
            <div class="legal col-xs-10 col-xs-offset-1">© 2017 <a href="http://www.espn.com">ESPN</a> and its licensors. All rights reserved.</div>
        </div>
    </div>
</footer>
