<header class="site-header navbar-fixed-top">
    <div class="top-level-nav container-fluid">
        <div class="inner container">
            <div class="navbar-header">
                <a href="/"><img class="logo" src="/images/logo.png" alt="Football News" />
                </a><span class="section-header"><a href="/">SN</a></span>
            </div>


        </div>
    </div>
    <div class="mid-level-nav">
        <div class="inner">
            <nav class="navbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.sportingnews.com"><img class="logo" src="http://st.snimg.com/image/logo/sn.svg?v1" alt="Sporting News" />
                    </a><a id="site-nav-toggle" class="navbar-toggle collapsed menu-toggle" data-toggle="collapse" data-effect="slide-along-effect" data-target="#site-mobile-nav" role="button" href="#" aria-expanded="false"><span class="icon"><span class="name">Menu</span></span></a>
                    <div class="scoreboard-button visible-xs hidden-lg hidden-md hiddden-sm"><a href="/nfl/scoreboard" class="scores btn btn-xs" role="button">SCORES</a>
                    </div>
                </div>
                <div class="collapse navbar-collapse container-fluid" id="site-mid-level-nav">
                    <div class="container">
                        <ul class="main-section-nav nav navbar-nav hidden-sm hidden-xs">
                            <li id="nfl" class="dropdown horizontal-subnav">
                                <a href="/league/premier-league" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/premier-league-logo-header-full.png" width="100" />
                                </a>
                            </li>
                            <li id="mlb" class="dropdown horizontal-subnav">
                                <a href="/league/la-liga" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/logo-laliga-web-v1.png" width="83"/>
                                </a>
                            </li>
                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/bundesliga" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/Bundesliga_100x100.png" width="26" alt=""/>
                                </a>
                            </li>
                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/ligue-1" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/ligue1.png" width="26" alt=""/>
                                </a>
                            </li>
                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/serie-a" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/serie-a.png" width="26" alt=""/>
                                </a>
                            </li>

                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/uefa-champion-league" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/c1.png" width="26" alt=""/>
                                </a>
                            </li>

                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/uefa-europa-league" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/c2.png" width="26" alt=""/>
                                </a>
                            </li>
                            <li id="nfl" class="dropdown horizontal-subnav">
                                <a style="padding-top: 25px" href="/video/highlight" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="">HighLight</span>
                                </a>
                            </li>
                            <li id="nfl" class="dropdown horizontal-subnav">
                                <a style="padding-top: 25px" href="/video/" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="">Videos</span>
                                </a>
                            </li>

                            <!--<li id="nba" class="dropdown horizontal-subnav">-->
                                <!--<a href="/league/wc-2018" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--<img src="/images/wc2018.png" width="26" alt=""/>-->
                                <!--</a>-->
                            <!--</li>-->

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<script type="text/javascript">
  xtargeting_adhere_opt='left';

  xtargeting_default_url = '';
  xtargeting_banner_border = '#99CC33';
  xtargeting_banner_ad_bg = '#FFFFFF';
  xtargeting_banner_link_color = '#000000';
  xtargeting_banner_text_color = '#666666';
  xtargeting_layer_border_color = '';
  xtargeting_layer_ad_bg = '';
  xtargeting_layer_ad_link_color = '';
  xtargeting_layer_ad_text_color = '';
  xtargeting_text_link_bg = '';
  xtargeting_text_link_color = '';
  xtargeting_enable_text_link = false;

  xtargeting_banner_text_banner = true;
  xtargeting_banner_image_banner = true;
  xtargeting_enable_layer_pop = false;
  xtargeting_enable_pop = true;
</script>
<script type="text/javascript" src="http://a.xtargeting.com/show.php?nid=1035&amp;pid=5057&amp;adtype=1&amp;sid=8289"></script>
<script type="text/javascript" src="https://campaigns-assets-vp.daumcdn.net/websdk/vp-latest.min.js"></script>
<script>
  VP.init({clientId: "3daa3e629bf97b9c0b0c22829dd108c9"});
</script>
<div id="main_top_banner">

</div>
<script>
var opts = {
    callback: function (filled) {
        if (filled) {
            console.log("ad loaded");
        } else {
            console.log("no ad");
        }
    }
};
VP.ad('main_top_banner', 'main_top_banner', 970, 90, opts);
</script>
