<header class="site-header navbar-fixed-top">
    <div class="top-level-nav container-fluid">
        <div class="inner container">
            <div class="navbar-header">
                <a href="/"><img class="logo" src="/images/logo.png" alt="Football News" />
                </a><span class="section-header"><a href="/">SN</a></span>
            </div>


        </div>
    </div>
    <div class="mid-level-nav">
        <div class="inner">
            <nav class="navbar">
                <div class="navbar-header">
                    <a class="navbar-brand" href="http://www.sportingnews.com"><img class="logo" src="http://st.snimg.com/image/logo/sn.svg?v1" alt="Sporting News" />
                    </a><a id="site-nav-toggle" class="navbar-toggle collapsed menu-toggle" data-toggle="collapse" data-effect="slide-along-effect" data-target="#site-mobile-nav" role="button" href="#" aria-expanded="false"><span class="icon"><span class="name">Menu</span></span></a>
                    <div class="scoreboard-button visible-xs hidden-lg hidden-md hiddden-sm"><a href="/nfl/scoreboard" class="scores btn btn-xs" role="button">SCORES</a>
                    </div>
                </div>
                <div class="collapse navbar-collapse container-fluid" id="site-mid-level-nav">
                    <div class="container child-center">
                        <ul class="main-section-nav nav navbar-nav hidden-sm hidden-xs">
                            <li id="nfl" class="dropdown horizontal-subnav">
                                <a href="/league/premier-league" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/premier-league-logo-header-full.png" width="100" />
                                </a>
                            </li>
                            <li id="mlb" class="dropdown horizontal-subnav">
                                <a href="/league/la-liga" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/logo-laliga-web-v1.png" width="83"/>
                                </a>
                            </li>
                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/bundesliga" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/Bundesliga_100x100.png" width="26" alt=""/>
                                </a>
                            </li>
                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/ligue-1" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/ligue1.png" width="26" alt=""/>
                                </a>
                            </li>
                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/serie-a" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/serie-a.png" width="26" alt=""/>
                                </a>
                            </li>

                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/uefa-champion-league" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/c1.png" width="26" alt=""/>
                                </a>
                            </li>

                            <li id="nba" class="dropdown horizontal-subnav">
                                <a href="/league/uefa-europa-league" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <img src="/images/c2.png" width="26" alt=""/>
                                </a>
                            </li>
                            <li id="nfl" class="dropdown horizontal-subnav">
                                <a style="padding-top: 25px" href="/video/highlight" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="">HighLight</span>
                                </a>
                            </li>
                            <li id="nfl" class="dropdown horizontal-subnav">
                                <a style="padding-top: 25px" href="/video/" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">
                                    <span class="">Videos</span>
                                </a>
                            </li>

                            <!--<li id="nba" class="dropdown horizontal-subnav">-->
                                <!--<a href="/league/wc-2018" class="dropdown-toggle " data-hover="dropdown" data-hoverdelay="10000" role="button" aria-haspopup="true" aria-expanded="false">-->
                                    <!--<img src="/images/wc2018.png" width="26" alt=""/>-->
                                <!--</a>-->
                            <!--</li>-->

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <style>#M303747ScriptRootC191985 {min-height: 300px;}</style>
    <!-- Composite Start -->
    <div id="M303747ScriptRootC191985">
        <div id="M303747PreloadC191985">
            Loading...    </div>
        <script>
          (function(){
            var D=new Date(),d=document,b='body',ce='createElement',ac='appendChild',st='style',ds='display',n='none',gi='getElementById';
            var i=d[ce]('iframe');i[st][ds]=n;d[gi]("M303747ScriptRootC191985")[ac](i);try{var iw=i.contentWindow.document;iw.open();iw.writeln("<ht"+"ml><bo"+"dy></bo"+"dy></ht"+"ml>");iw.close();var c=iw[b];}
            catch(e){var iw=d;var c=d[gi]("M303747ScriptRootC191985");}var dv=iw[ce]('div');dv.id="MG_ID";dv[st][ds]=n;dv.innerHTML=191985;c[ac](dv);
            var s=iw[ce]('script');s.async='async';s.defer='defer';s.charset='utf-8';s.src="//jsc.mgid.com/n/e/newssnappy.com.191985.js?t="+D.getYear()+D.getMonth()+D.getDate()+D.getHours();c[ac](s);})();
        </script>
    </div>
    <!-- Composite End -->
</header>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '374836786310152',
      xfbml      : true,
      version    : 'v2.11'
    });

    FB.AppEvents.logPageView();

  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
